@media (max-width: 83.4375em) {
  .hero-middle {
    max-width: 409px;
  }

  footer {
    padding: 116px 50px 104px 50px;
  }

  .primary-heading {
    font-size: 3.5rem;
  }

  .description {
    font-size: 1rem;
  }
}

@media (max-width: 63.6875em) {
  .hero-content {
    column-gap: 32px;
    row-gap: 72px;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas:
      "img1 img2"
      "text text";
    justify-content: center;
  }

  .hero-img-container-left {
    grid-area: img1;
  }

  .hero-img-container-right {
    grid-area: img2;
  }

  .hero-middle {
    grid-area: text;
    justify-self: center;
    max-width: 28.5625rem;
  }

  .primary-heading {
    font-size: 3rem;
  }

  .description {
    line-height: 1.6;
  }

  .img-hero-left {
    transform: translate(0, 0);
  }

  .img-hero-right {
    transform: translate(0, 0);
  }

  .container-gallery {
    margin-bottom: 3rem;
  }

  .container-text {
    max-width: 35.8125rem;
  }

  footer {
    padding: 92px 50px 66px 50px;
    background-position: center;
  }

  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-heading {
    max-width: 28.5625rem;
    margin-bottom: 2rem;
  }

  .footer-description {
    max-width: 35.8125rem;
    margin-bottom: 40px;
  }
}

@media (max-width: 41.0625em) {
  body {
    padding-top: 48px;
  }

  .section-hero {
    padding-top: 54px;
    padding-bottom: 268px;
  }

  .hero-content {
    column-gap: 16px;
    row-gap: 48px;
  }

  .primary-heading {
    font-size: 2.5rem;
    line-height: 1.1;
    margin-bottom: 1.5rem;
  }

  .btns {
    flex-direction: column;
  }

  .hero-middle {
    padding: 0 24px;
  }

  .container-gallery {
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    row-gap: 11px;
    margin-bottom: 4rem;
  }

  .subheading {
    margin-bottom: 1.5rem;
  }

  .secondary-heading {
    font-size: 2rem;
  }

  .container-text {
    padding: 0 24px;
  }

  .section-features {
    padding-bottom: 154px;
  }

  footer {
    padding: 92px 24px 72px 24px;
  }

  .footer-heading {
    font-size: 2rem;
    margin-bottom: 24px;
  }

  .footer-description {
    margin-bottom: 2rem;
  }
}
